html,body {
    margin: 0;
    padding: 0;
    background-color: #fefefe;
}

.row {
    padding: 5px;
}

.wrapper-main {
    border-radius: 5px;
    padding: 5px;
    margin: 5px 30%;
/*    background-color: #FFE98D;*/
    background-color: rgb(255, 254, 251);
    -webkit-box-shadow:0px 1px 1px rgba(151, 147, 129, 0.9);
    -moz-box-shadow:0px 1px 1px rgba(151, 147, 129, 0.9);
    box-shadow:1px 1px 1px rgba(151, 147, 129, 0.9);
}

.wrapper-form {
    
}

.title-main {
    width: 200px;
    text-align: center;
    margin: 15px auto;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 2em;
    -webkit-box-shadow:0px 1px 1px rgba(151, 147, 129, 0.9);
    -moz-box-shadow:0px 1px 1px rgba(151, 147, 129, 0.9);
    box-shadow:0px 1px 1px rgba(151, 147, 129, 0.9);
    background-color: rgb(255, 255, 255);
}

.title-submain {
    text-align: center;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 2px;
    padding-top: 2px;
    font-size: 1.3em;
    -webkit-box-shadow:0px 1px 1px rgba(151, 147, 129, 0.9);
    -moz-box-shadow:0px 1px 1px rgba(151, 147, 129, 0.9);
    box-shadow:0px 1px 1px rgba(151, 147, 129, 0.9);
    background-color: rgb(255, 255, 255);
}

/* RADIO STUFF */

.radio-button {
    clip: rect(0, 0, 0, 0);
    height: 0;
    width: 0;
    border: 0;
    overflow: hidden;
    margin: 5px;
    display: none;
}

.radio-adjust {
    
}

.number-input {
    
}

.input-label {
    text-align: right;
}

.radio-button + label {
  width: 100px;
  background-color: #e4e4e4;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  text-shadow: none;
  padding: 6px 14px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition:    all 0.1s ease-in-out;
  -ms-transition:     all 0.1s ease-in-out;
  -o-transition:      all 0.1s ease-in-out;
  transition:         all 0.1s ease-in-out;
}

.radio-button + label:hover {
    cursor: pointer;
}

.radio-button:checked + label {
  background-color: #ffc401;
  -webkit-box-shadow: none;
  box-shadow: none;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

.breakdown {
    text-align: center;
}